<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="" alt="Imagem de capa do card">
    </div>

    <div class="card-body">
        <h5 class="card-title text-center text-monospace">{{nome}}</h5>
        <p class="card-text text-center text-monospace">Jornalista e futuro desenvolvedor.</p>
        
        <a href="https://www.linkedin.com/in/marcospacanaro/" target="_blank" class="btn btn-outline-info mb-3 d-flex justify-content-center">LinkedIn</a>
        <a href="https://github.com/marcospacanaro" target="_blank" class="btn btn-outline-dark d-flex justify-content-center">GitHub</a>

    </div>
</div>