<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam Bem Vindos ao meu Blog</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique fugiat, deleniti nulla nemo animi
                dicta perspiciatis voluptatem dolor provident atque deserunt tempora, tempore voluptate quae nihil
                ratione non ab eaque?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dolorem est, pariatur alias suscipit
                incidunt atque quas corporis vitae quis iste dolores accusamus ullam similique et, inventore placeat
                deserunt natus.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat rem quasi eveniet fuga ullam tenetur
                odio suscipit deleniti, explicabo beatae error quae. Consequuntur aliquid quae sint, totam voluptatum
                magnam amet.
            </p>
        </div>
    </div>
</div>
    <div class="parallax">

    </div>
    
    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink="/feed">
                Ver o Feed
            </button>
        </div>
    </div>

